#kaocha/v1
 {:tests
  [{:id          :unit,
    :test-paths  ["test"],
    :ns-patterns ["-test$"],
    :kaocha.filter/skip-meta [:slow :flaky]}
   {:id          :inline,
    :test-paths  ["src"],
    :ns-patterns ["aoclj.year-2015.day-\\d{2}$"
                  "aoclj.year-2016.day-\\d{2}$"
                  "aoclj.year-2017.day-\\d{2}$"
                  "aoclj.year-2018.day-\\d{2}$"
                  "aoclj.year-2019.day-\\d{2}$"]}]}
